.location {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.location-icon {
    width: 35px; /* Đặt kích thước icon */
    height: 35px;
    margin: 8px; /* Khoảng cách giữa icon và tên địa điểm */
}



.weather-container {
    position: fixed;
    top: 90px;
    right: 0;
    width: 200px;
    height: 100vh;
    background-color: #065a11;
    color: #fff;
    padding: 20px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #ddd;
    z-index: 1000;
    font-family: Arial, sans-serif;
}

.weather-info {
    width: 100%;
    text-align: center;
}

.current-weather h2 {
    font-size: 20px;
    margin: 5px 0;
}

.current-weather h3 {
    font-size: 16px;
    margin: 5px 0;
    font-weight: normal;
}

.temperature {
    display: flex;
    align-items: center;
    justify-content: center;
}

.temperature img {
    width: 60px;
    height: 60px;
}

.temperature h1 {
    font-size: 48px;
    margin: 0 10px;
}



.forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(220, 229, 245, 0.2);
    border-radius: 8px;
}

.forecast-day {
    text-align: center;
    font-size: 14px;
}

.forecast-day img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.forecast-day h4 {
    margin-bottom: 5px;
    color: #fff;
}



.ad-image {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

