/* Main Container */
.map-chart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Top Cities List */
.top-cities {
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: 10px auto;
}

.top-cities h3 {
    font-size: 16px;
    margin: 0 0 8px 0;
    text-align: center;
}

.top-cities ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Map Container */
.map-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
