.add-product-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
}

.add-product-modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 600px;
  height: auto; /* Modal tự động kéo dài chiều cao */
  max-height: 90vh; /* Giới hạn chiều cao tối đa của modal, để tránh nó tràn ra ngoài cửa sổ */
  overflow: visible; /* Loại bỏ cuộn, cho phép chiều cao thay đổi tự do */
  animation: fadeInScale 0.5s ease-out;
}

.add-product-modal-header {
  color: #2e7d32; /* Xanh lá đậm */
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.add-product-modal-form {
  display: flex;
  flex-direction: column;
}

.add-product-modal-label {
  margin-bottom: 10px;
  color: #2e7d32; /* Xanh lá đậm */
  font-size: 16px;
  font-weight: bold;
}

.add-product-modal-input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  margin-bottom: 20px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
}

.add-product-modal-input:focus {
  border-color: #4caf50; /* Xanh lá trung bình */
  box-shadow: 0 0 0 2px #c8e6c9; /* Xanh lá nhạt */
}

.add-product-modal-select {
  margin-bottom: 20px;
}

.add-product-modal-selected-product {
  margin-top: 10px;
}

.add-product-modal-image {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.add-product-modal-buttons {
  display: flex;
  justify-content: space-between;
}

.add-product-modal-button {
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  border: none;
  transition: background-color 0.3s, transform 0.3s;
}

.add-product-modal-button-primary {
  background-color: #4caf50; /* Xanh lá trung bình */
  color: #fff;
}

.add-product-modal-button-primary:hover {
  background-color: #388e3c; /* Xanh lá đậm hơn */
  transform: translateY(-2px);
}

.add-product-modal-button-secondary {
  background-color: #e57373; /* Đỏ nhạt */
  color: #fff;
}

.add-product-modal-button-secondary:hover {
  background-color: #d32f2f; /* Đỏ đậm */
  transform: translateY(-2px);
}

.add-product-modal-error {
  color: red;
  font-size: 14px;
  margin-top: -15px;
  margin-bottom: 10px;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
