.modalBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    box-shadow: 24px;
    padding: 16px;
  }
  
  .modalTitle {
    margin-bottom: 16px;
  }
  
  .modalButton {
    margin-top: 16px;
  }
  